<div class="course-details-container">
  <div class="sidebar">
    <div *ngIf="currentCategory" class="course-header">
      <h3>{{ currentCategory }}</h3>
      <app-progress-bar [progress]="categoryProgress"></app-progress-bar>
    </div>
    <div *ngFor="let course of courses">
      <div class="course-summary" [routerLink]="['/courses', stage, category, course.title]" [class.active]="course.title === courseTitle">
        <div class="course-icon">
          <div class="icon-circle" [class.completed]="course.watchedVideos && course.watchedVideos.length > 0"></div>
        </div>
        <div class="course-info">
          <h4>{{ course.title }}</h4>
          <span>{{ course.description }}</span>
        </div>
        <div><i class="fas fa-angle-double-right"></i></div>
      </div>
    </div>
  </div>

  <div class="course-content-container">
    <div class="course-content" *ngIf="course">
      <h2>{{ course.title }}</h2>
      <video *ngIf="course.videoUrl" controls (ended)="markVideoAsWatched()">
        <source [src]="course.videoUrl" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <p>{{ course.description }}</p>
      <div class="next-button-container">
        <button class="next-button" (click)="navigateToNextLesson()">NEXT</button>
      </div>
    </div>
  </div>
</div>
